# PERSISTENCE_TYPE = mariadb | mongodb | inmemory
PERSISTENCE_TYPE=inmemory

# DRIVER_TYPE = http | console
DRIVER_TYPE=console

# DB_HOST = mongodb | mariadb
DB_HOST=mongodb
DB_PORT=27017
DB_NAME=library
DB_USER=
DB_PASSWORD=