# PERSISTENCE_TYPE = mariadb | mongodb | inmemory
PERSISTENCE_TYPE=mongodb

#rest | repl
DRIVER_TYPE=rest

# DB_HOST= mongodb | mariadb
DB_HOST=mongodb
DB_PORT=27017
DB_NAME=library
DB_USER=library
DB_PASSWORD=