#INITDB Root User Credentials
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

##INITDB User Credentials
MONGO_INITDB_USERNAME=library
MONGO_INITDB_PASSWORD=
MONGO_INITDB_DATABASE=

MONGO_INITDB_COLLECTION=books